<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="AzureStorageAccount" connectionString="DefaultEndpointsProtocol=https;AccountName=blobcontaion1;AccountKey=9NQHR3Wv6XltEA/gP2QyYA5NEGFFtZgIVj8MdEzGDlcjDjdNY+Q/ia3utIEpiA2kJvoN7T64qphURD0/t5tszQ=="/>
  </connectionStrings>
  <appSettings>
    <add key="sourcefolder" value="D:\azurebob1"/>
    <add key="destContainer" value="sample-container111"/>
    
  </appSettings>
</configuration>
